#define BUY_UNIT ID STRING IMAGE PRICE UNITTYPE
  [set_menu_item]
    id = {ID}
    description = {STRING}
    image = {IMAGE}
    [show_if]
      {OWNED_LOCATION}
      [not]
	[have_unit]
	  x,y = $x1, $y1
	[/have_unit]
      [/not]
    [/show_if]
    [command]
      {PRICED_OPTION {PRICE} (
	{{UNITTYPE} $side_number $x1 $y1}
	[modify_unit]
	  [filter]
	    x,y = $x1, $y1
	  [/filter]
	  moves = 0
	  attacks_left = 0
	[/modify_unit]
	[sound]
	  name = "dart.wav"
	[/sound]
      )}
    [/command]
  [/set_menu_item]
#enddef

[event]
  name = prestart

  {BUY_UNIT a_buysoldier "Buy soldier (-3 gold)" "units/human-loyalists/spearman.png~SCALE(36,36)" 3 SOLDIER}
  {BUY_UNIT b_buyharvester "Buy harvester (-5 gold)" "units/human-peasants/peasant.png~SCALE(36,36)" 5 HARVESTER}
  {BUY_UNIT c_buyarcher "Buy archer (-20 gold)" "units/human-loyalists/bowman.png~SCALE(36,36)" 20 ARCHER}

  [set_menu_item]
    id = a_upgradesoldier
    description = "Upgrade soldier (-3 gold)"
    image = "units/human-loyalists/spearman.png~SCALE(36,36)"
    [show_if]
      [have_unit]
	x,y = $x1, $y1
	side = $side_number
	type = Spearman
	[not]
	  [filter_wml]
	    hitpoints = 4
	  [/filter_wml]
	[/not]
      [/have_unit]
    [/show_if]
    [command]
      {PRICED_OPTION 3 (
	[store_unit]
	  [filter]
	    x,y = $x1, $y1
	    side = $side_number
	    type = Spearman
	    [not]
	      [filter_wml]
		hitpoints = 4
	      [/filter_wml]
	    [/not]
	  [/filter]
	  variable = soldier
	[/store_unit]
	{VARIABLE_OP soldier.hitpoints add 1}
	{VARIABLE soldier.overlays "terrain/alphamask.png~O(0%)~BLIT(misc/status-friend.png~RC(red>$side_stats[$side_number].side.color),29,0)"}
	[unstore_unit]
	  variable = soldier
	[/unstore_unit]
	{CLEAR_VARIABLE soldier}
	[sound]
	  name = "dart.wav"
	[/sound]
      )}
    [/command]
  [/set_menu_item]
[/event]