#define VARCH NAME CONDITION VALUE
  [variable]
    name = {NAME}
    {CONDITION} = {VALUE}
  [/variable]
#enddef

#define T1
Hh#enddef

#define T2
Gg#enddef

#define T3
Ds#enddef

#define T4
Re#enddef

#define T5
Uu#enddef

#define T6
Qxu#enddef

#define TLIST
"{T1},{T2},{T3},{T4},{T5}"
#enddef

#define OWNED_LOCATION
  [have_location]
    x,y = $x1, $y1
    terrain = {TLIST}
    find_in = side_stats[$side_number].owned_hexes
  [/have_location]
#enddef
