#textdomain wesnoth-units
[unit_type]
    id=HT_Arrow
    name= _ "Arrow"
    image="projectiles/missile-ne.png"
    ellipse="misc/ellipse-nozoc"
    {MAGENTA_IS_THE_TEAM_COLOR}

[standing_anim]
        direction=n
        start_time=0
        [frame]
            duration=50
            image="projectiles/missile-n.png"
        [/frame]
     [/standing_anim]
     
     
     [standing_anim]
        direction=s
        start_time=0
        [frame]
            duration=50
            image="projectiles/missile-n.png~FL(vertical)"
        [/frame]
     [/standing_anim]
     
     [standing_anim]
        direction=ne
        start_time=0
        [frame]
            duration=50
            image="projectiles/missile-ne.png"
        [/frame]
     [/standing_anim]
     
     
     [standing_anim]
        direction=se
        start_time=0
        [frame]
            duration=50
            image="projectiles/missile-ne.png~FL(vertical)"
        [/frame]
     [/standing_anim]
     
     
     [standing_anim]
        direction=sw
        start_time=0
        [frame]
            duration=50
            image="projectiles/missile-ne.png~FL(vertical)"
        [/frame]
     [/standing_anim]
     
[standing_anim]
        direction=nw
        start_time=0
        [frame]
            duration=50
            image="projectiles/missile-ne.png"
        [/frame]
     [/standing_anim]

[/unit_type]